<% layout('layouts/boilerplate') %>

    <div class="container">
        <h1>Market</h1>
        <p>Browse all of our locally-grown goods!</p>
        <img src="https://images.unsplash.com/photo-1526399743290-f73cb4022f48?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=464&q=80"
            alt="">
    </div>