<% layout('layouts/boilerplate') %>
    <h1>Index product page</h1>

    <ul>
        <% for(let product of products) { %>
            <li>
                <%= product.name %> -
                    <b>
                        <%= product.price %>
                    </b>
                    <a href="/products/<%=product.id%>">details </a>
            </li>
            <% } %>
    </ul>